<?xml version="1.0"?>
<config>
    <modules>
        <EcomInfinity_Mageacf>
            <version>0.2.0</version>
        </EcomInfinity_Mageacf>
    </modules>
    <frontend>
        <routers>
            <mageacf>
                <use>standard</use>
                <args>
                    <module>EcomInfinity_Mageacf</module>
                    <frontName>mageacf</frontName>
                </args>
            </mageacf>
        </routers>
        <layout>
            <updates>
                <mageacf>
                    <file>mageacf.xml</file>
                </mageacf>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <mageacf>
                <class>EcomInfinity_Mageacf_Model</class>
                <resourceModel>mageacf_mysql4</resourceModel>
            </mageacf>
            <mageacf_mysql4>
                <class>EcomInfinity_Mageacf_Model_Mysql4</class>
                <entities>
                    <ei_colorgroup>
                        <table>ei_colorgroup</table>
                    </ei_colorgroup>
                    <ei_colorattr>
                        <table>ei_colorattr</table>
                    </ei_colorattr>
                </entities>
            </mageacf_mysql4>
        </models>
        <resources>
            <mageacf_setup>
                <setup>
                    <module>EcomInfinity_Mageacf</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageacf_setup>
            <mageacf_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mageacf_write>
            <mageacf_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mageacf_read>
        </resources>
        <blocks>
            <mageacf>
                <class>EcomInfinity_Mageacf_Block</class>
            </mageacf>
        </blocks>
        <helpers>
            <mageacf>
                <class>EcomInfinity_Mageacf_Helper</class>
            </mageacf>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageacf>EcomInfinity_Mageacf_Adminhtml</mageacf>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mageacf>
                    <file>mageacf.xml</file>
                </mageacf>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <mageacf>
            <general>
                <jquery>1</jquery>
                <admin_label>1</admin_label>
            </general>
        </mageacf>
    </default>
</config>